Repository jakubstetz/job-search-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, .venv/bin/black

chore: omit .dev and archive directories from Black linting
  pyproject.toml
Due: none

feat: implement first version of project
  .gitignore
  jobs.py
  run_scraper.py
  src/config.py
  src/main.py
  src/output.py
  src/scrapers.py
  src/utils.py
Due: .venv/bin/black

docs: populate README.md file
  README.md
Due: npm run format

feat: fill in scrapers for all companies, leaving notes for oddballs
  src/companies.py
Due: .venv/bin/black

feat: implement stub functions for remaining scrapers that need to be implemented
  src/scrapers.py
Due: .venv/bin/black

feat: save company and summary text files into separate folders
  src/output.py
Due: .venv/bin/black

feat: remove unnecessary cleanup function for scraping results directories
  src/output.py
Due: .venv/bin/black

feat: run scrape, creating first iteration of found jobs
  src/jobs_found.txt
Due: none

style: adjust formatting of scraping outputs
  src/main.py
  src/output.py
Due: .venv/bin/black

chore: archive reference jobs.py file
  jobs.py
Due: .venv/bin/black

docs: add comments with job board URL for each Workday ATS company
  src/companies.py
Due: .venv/bin/black

fix: update LinkedIn scraper, import remaining scrapers
  src/companies.py
Due: .venv/bin/black

feat: implement function stub for LinkedIn scraper
  src/scrapers.py
Due: .venv/bin/black

feat: implement myworkdayjobs.com config dictionary with variable URL components for each company
  src/config.py
Due: .venv/bin/black

feat: implement myworkdaysite scraper function stub
  src/scrapers.py
Due: .venv/bin/black

feat: use proper Workday scraper for companies using myworkdayjobs versus myworkdaysite
  src/companies.py
Due: .venv/bin/black

fix: identify Workday URL for NVIDIA
  src/companies.py
  src/config.py
Due: .venv/bin/black

feat: remove numerics from exclude keywords to account for standard engineering leveling format
  src/config.py
Due: .venv/bin/black

fix: import both Workday scrapers and check for them in scraper function inputs check
  src/main.py
Due: .venv/bin/black

feat: implement pagination to retrieve jobs beyond the first page in relevant ATS's
  src/scrapers.py
Due: .venv/bin/black

feat: implement location filtering and returning job locations in output
  src/main.py
  src/scrapers.py
  src/utils.py
Due: .venv/bin/black

minor: replace "Full" with "Stack" to properly handle full-stack roles
  src/config.py
Due: .venv/bin/black

minor: add line break after informational message for how many jobs were found for company
  src/main.py
Due: .venv/bin/black

fix: fix location extraction from Ashby API returns
  src/scrapers.py
Due: .venv/bin/black

minor: increase request delay to 3 seconds for production
  src/config.py
Due: .venv/bin/black

feat: write scripts for cron job
  scripts/run_job_scraper_cron.sh
  scripts/setup_cron.sh
Due: none

chore: remove outdated jobs_found.txt file
  src/jobs_found.txt
Due: none

chore: run scraper to generate complete jobs_found.txt file
  src/jobs_found.txt
Due: none

refactor: replace Unix cron job with GitHub Actions cron job
  .github/workflows/scraper.yaml
  scripts/run_job_scraper_cron.sh
  scripts/setup_cron.sh
Due: npm run format

chore: delete jobs_found.txt
  src/jobs_found.txt
Due: none

chore: remove jobs_found.txt from repo
  .gitignore
  src/jobs_found.txt
Due: none

chore: remove scraper cron job workflow from repo
  .github/workflows/scraper.yaml
Due: npm run format

feat: add additional companies
  src/companies.py
Due: .venv/bin/black

feat: generalize ServiceNow scraper to cover all companies that use SmartRecruiters
  src/scrapers.py
Due: .venv/bin/black

fix: add smartrecruiters scraper to list of generalized scrapers which require a company name input
  src/main.py
Due: .venv/bin/black

feat: implement jobvite scraper
  src/main.py
  src/scrapers.py
Due: .venv/bin/black

feat: identify companies that have a "view all jobs" page through iCIMS
  src/companies.py
  src/main.py
  src/scrapers.py
Due: .venv/bin/black

feat: add function stubs for Atlassian and GitHub scrapers
  src/scrapers.py
Due: .venv/bin/black

minor: add "Ambassador" to exclude keywords
  src/config.py
Due: .venv/bin/black

docs: add informational messages for companies being scraped for the first time
  src/main.py
  src/output.py
  src/utils.py
Due: .venv/bin/black

Path conditions:
  npm run format: any of: **/*.{html,css,json,md,yaml}
  .venv/bin/black: any of: **/*.py
